# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# Generated platform folders (run `flutter create .` to regenerate)
android/
ios/
web/
linux/
macos/
windows/
